<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ticketreservation">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTicketActivity"
            android:label="Create Ticket" />
        <activity
            android:name=".PrintTicketActivity"
            android:label="Print Ticket" />
        <activity
            android:name=".EditTicketActivity"
            android:label="Edit Ticket" />
        <activity
            android:name=".DeleteTicketActivity"
            android:label="Delete Ticket" />
        <activity android:name=".ViewTicketActivity"></activity>
    </application>

</manifest>
